.escalator-edit-form input,
.elevator-edit-form input,
.escalator-query-form input,
.elevator-query-form input,
.escalator-add-form input,
.elevator-add-form input{
	max-width: 300px;
}

.escalator-query-form,
.escalator-query-form{
	clear: both;
}



.panel-search{
	margin-top: 10px;
	display: none;
}

h3.sub-title{
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	color:#000;
}

h3.sub-title span{
	font-size: 12px;
	color:gray;
}

.sub-panel .panel-body{
	display: none;
}